.utilityPage{
    width: 100%;
    margin-left: 5%;
   
}

.utilityHeading{
color: #274C5B;
font-family: 'Roboto';
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.style,.password,.licence,.notFound,.changelog{
color: #525C60;
}


@media(min-width:320px){
    
    .utilityHeading{
      font-size: 10px;
      font-weight: 600;
     
    }

    .style,.password,.licence,.notFound,.changelog{
        line-height: 1em;
        font-size: 8px;
        
    }
}




@media(min-width:600px){
    
    .utilityHeading{
      font-size: 18px;
    }

    .style,.password,.licence,.notFound,.changelog{
        
        font-size: 10px;
       
    }
}




@media(min-width:768px){
    .style,.password,.licence,.notFound,.changelog{
        line-height: 2em;
    }
    }

    


@media(min-width:992px){
  
    .utilityHeading{
      font-size: 20px;
    }

    .style,.password,.licence,.notFound,.changelog{
        line-height: 2.4em;
        font-size: 12px;
    }
}


@media(min-width:1200px){
    
    .utilityHeading{
        line-height: 1.0em;
      font-size: 20px;
    }

    .style,.password,.licence,.notFound,.changelog{
        font-size: 12px;
    }
}