.bannerAbout{
  background-color: #fff0f0;
   width: auto;
   text-align: center;
}
.bannerAbout h2{
   
color: #274C5B;
font-family: Roboto;
font-size: 40px;
font-style: normal;
font-weight: 800;
}

@media(min-width:320px){
    .bannerAbout{
    height: 100px;
    margin-top: 30px;
    padding-top: 30px;
    
}
.bannerAbout h2{
   font-size: 28px;
}
}