@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&family=Yellowtail&display=swap');

.categoriesAbout{
    background-color: #274C5B;
    width: auto;
    margin-top: 10%;
    padding-bottom: 10%;
}

.categoriesAboutHead{
    color: #7EB693;
    font-family: 'Yellowtail';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.categoriesAboutSubHead{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
}

.productCategoriesAbout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    
}

.categoriesAbout p{
    color: white;
    text-align: center;
}

@media(min-width:320px){
  
    .categoriesAboutHead{
        font-size: 24px; 
    }

    .categoriesAboutSubHead{
        font-size: 28px;
        font-weight: 800;
    }

    .categoriesAbout img{
        width: 65px;
        height: 70px;
        border-radius: 20px;
    }  
}



@media(min-width:600px){

    .categoriesAbout{
        width: auto;
    }

    .categoriesAboutHead{
        font-size: 24px;
    }
   
    .categoriesAbout img{
        width: 100px;
        height: 100px; 
    }  
    
}



@media(min-width:768px){
   
    .categoriesAboutHead{
        font-size: 24px;
        margin-bottom: 30px; 
       
    }
    .categoriesAboutSubHead{
        font-size: 28px;
        font-weight: 800;
    }
    .categoriesAbout img{
        width: 140px;
        height: 140px; 
    }
   
   
}






@media(min-width:992px){
   
    
    .categoriesAboutHead{
        font-size: 28px;
        margin-bottom: 30px; 
       
    }

    .categoriesAboutSubHead{
        font-size: 36px;
        font-weight: 800px;
    }

    .categoriesAbout img{
        width: 180px;
        height: 180px; 
    }

    .spicyFig{
        margin-left: 20px;
    }

    .nutsFig,.fruitsFig,.vegetablesFig{
        margin-left: 0px;
    }


    
}